body{
    height: 1150px;
    font-family: 'Roboto', ""
}

.seccion_padre{
    /* display: flex; */
}

.manos{
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center; */
}

.manos img{
    width: 35%;
}

.manos_text{
    font-size: 45px;
    font-weight: 500;
}

.chat{
    /* padding: 50px; */
    min-height: 100vh;
    /* background-color: rgb(237, 249, 250); */
    /* display: flex; */
    /* flex-direction: column; */
    border: gray;
    
}

.maria{
    /* display: flex;
    justify-content: space-between; */
    /* border-color: 1 gray; */
    margin-bottom: 0px;
    height: 80px;
}

i{
    color: #bec1bb;
    /* width: 4px; */
}

.maria img{
    border-radius: 50%;
    width: 55%;
    height: 65%;
    padding-left: 5px;
}

.maria img:hover{
    border-radius: 50%;
    width: 65%;
    height: 75%;
}

.mariaNombre{
  flex-basis: 20px;
  /* height: 20px; */
}

.nombre{
    font-size: large;
}

.nombre_2{
    font-size: small;
}

.nuevo_chat{
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 50px; */
    /* height: 50px; */
    min-height: 15vh;
}

.chat_1{
    background-color: #A491D2;
    height: 50px;
    flex-basis: 160px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.chat_1:hover{
    background-color: #CDC3E6;
}

.chat_1:active{
    background-color: #d4dcff;
}

.texto{
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    z-index: 4;
    top: 40px;
    left: 40px;
}

.moira{
    /* display: flex; */
    height: 80px;
    width: 80px;
}

.moira img{
    border-radius: 50%;
    width: 70%;
    height: 70%;
    padding-left: 5px;
}

.moira_nombre{
    /* margin-bottom: 0px; */
}

.dispobible{
    font-size: small;
    color: #585857;
}
