body{
    /* font-family: 'Roboto'; */
}

.seccion_padre{
    /* display: flex; */
}

.manos{
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center; */
    width: 1500px;
}

.manos img{
    width: 25%;
}

.manos_text{
    font-size: 45px;
    font-weight: 500;
}

.titulo{
    font-size: 45px;
}

.chat{
    min-height: 100vh;
    border: gray; 
    width: 350px;  
}

.prueba{
    width: 120px;
}

.habilitado{
    visibility: hidden;
}

.maria{
    margin-bottom: 0px;
    /* height: 80px; */
    width: 40px;
    height: 50px;
    border-radius: 50%;
}

i{
    color: #bec1bb;
    /* width: 4px; */
}

/* .maria img{
    border-radius: 50%;
    width: 40%;
    height: 50%;
    padding-left: 5px;
} */

.maria:hover{
    border-radius: 50%;
    width: 45%;
    /* height: 40%; */
}

.mariaNombre{
  /* width: 70px; */
  flex-grow: 2;
}

.nombre{
    font-size: large;
}

.nombre_2{
    font-size: small;
    /* flex-grow: 2; */
    width: 40px;
}

.nuevo_chat{
    min-height: 15vh;
}

.chat_1{
    background-color: #A491D2;
    height: 50px;
    flex-basis: 160px;
}

.chat_1:hover{
    background-color: #CDC3E6;
}

.chat_1:active{
    background-color: #d4dcff;
}

.moira{
    /* display: flex; */
    /* height: 70px;
    width: 80px; */
}

.moira img{
    border-radius: 50%;
    width: 20%;
    height: 70%;
    padding-left: 5px;
}

.dispobible{
    font-size: small;
    color: #585857;
}
